<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <meta charset="UTF-8">
  <title>Shopping List Check Off</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <div class="container">

    <h1>Shopping List Check Off</h1>

    <div class="list">
      <h2>To Buy:</h2>
      <p ng-if="toBuy.items.length === 0">Everything is bought!</p>
      <ul>
        <li ng-repeat="item in toBuy.items">
          Buy {{ item.quantity }} {{ item.name }}
          <button ng-click="toBuy.buyItem($index)">Bought</button>
        </li>
      </ul>
    </div>

    <div class="list">
      <h2>Already Bought:</h2>
      <p ng-if="bought.items.length === 0">Nothing bought yet.</p>
      <ul>
        <li ng-repeat="item in bought.items">
          Bought {{ item.quantity }} {{ item.name }}
        </li>
      </ul>
    </div>

  </div>

</body>
</html>
